<li class="comment <%= 'rootComment' if comment.is_root? %>" id="comment_<%= comment.id %>">
	<% if current_user.admin? || comment.user == current_user %>
		<div class="comment-controls">
			<a href="#" class="comment-controls-trigger"><span></span><span></span><span></span></a>
			<ol class="comment-controls-options">
				<li><%= link_to 'Editar', edit_comment_path(comment), remote: true %></li>
				<li><%= link_to 'Eliminar', comment, method: :delete, data: { confirm: '¿Seguro querés eliminar este mensaje?', util: :loader }, remote: true %></li>
			</ol>
		</div>
	<% end %>
	<div class="s3_des-msg-mLst-mPic"><%= image_tag comment.user.avatar.url(:thumb) %></div>
	<div class="s3_des-msg-mLst-mtxt">
		<div class="s3_des-msg-mLst-mtxt-nom"><%= comment.user.name %></div>
		<div class="s3_des-msg-mLst-mtxt-txt"><%= html_escape(comment.text).gsub(/\r\n?|\n/, '<br>').gsub(/(https?:\/\/[^\s<>]+)/, '<a href="\1" target="_blank">\1</a>').html_safe %></div>
		<%= link_to 'Responder', respond_comment_path(comment), class: 's3_des-msg-mLst-mtxt-lnk remove-comment-forms', remote: true %>
	</div>
	<ul id="<%= 'comments_' + comment.id.to_s %>">
		<%= render comment.comments %>
	</ul>
</li>
