<% content_for :extra_js do %>
  $('form.new_movie, form.edit_movie').validate();
  Utils.autonumeric();
  $('#movie_image_from_vimeo').change(function(e) {
    $('#imageField').fadeToggle();
  });
<% end %>

<%= form_for(@movie, data: { util: :loader }) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <% if @movie.new_record? && params[:workshop_id].present? %>
      <% @movie.workshop_id = params[:workshop_id] %>
    <% end %>
    <%= f.label :workshop_id, 'Workshop' %><br>
    <%= f.select :workshop_id, options_for_select(Workshop.all.map{|w| [w.title, w.id]}, @movie.workshop_id) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 5, required: true %>
  </div>
  <div class="field">
    <%= f.label :video_url %><br>
    <%= f.text_field :video_url, required: true %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, required: true, class: 'autonumeric-price' %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.select :level, options_for_select(Movie.levels, Movie.levels[@movie.level]) %>
  </div>
  <div class="field">
    <%= f.label :image_from_vimeo, class: 'checkbox' do %>
      <span>¿Tomar imágen desde VEVO?</span>
      <%= f.check_box :image_from_vimeo %>
    <% end %>
  </div>
  <div class="field" id="imageField" style="<%= 'display:none;' if @movie.image_from_vimeo %>">
    <% if @movie.image.present? %>
      <%= f.label :image do %>
        <small>(Contiene una imágen: <%= @movie.image_file_name[0...20] %>…)</small>
      <% end %><br>
    <% end %>
    <%= f.file_field :image, accept: 'image/*' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
