<% content_for :extra_js do %>
  $('form.new_movie, form.edit_movie').validate({
    submitHandler: Utils.loaderSubmit
  });
  Utils.autonumeric();
<% end %>

<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 5, required: true %>
  </div>
  <div class="field">
    <%= f.label :video_url %><br>
    <%= f.text_field :video_url, required: true %>
  </div>
  <div class="field">
    <%= f.label :image do %>
      Image
      <% if @movie.image.present? %>
        <small>(Contiene una imagen: <%= @movie.image_file_name[0...20] %>…)</small>
      <% end %>
    <% end %><br>
    <%= f.file_field :image, accept: 'image/*' %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, required: true, class: 'autonumeric-price' %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.select :level, options_for_select(Movie.levels) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
