<h1>Listing Movies</h1>

<table class="table table-bordered table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Workshop</th>
      <th>Title</th>
      <th>Price</th>
      <th>Level</th>
      <th colspan="3">Control</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.workshop.title, movie.workshop %></td>
        <td><%= movie.title %></td>
        <td><%= movie.price %></td>
        <td><%= movie.level %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
