<div style="float:left; margin-right: -120px;">
  <%= image_tag @movie.image.url(:small), style: 'width:120px;height:auto;' %>
</div>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @movie.price %>
</p>

<p>
  <strong>Level:</strong>
  <%= @movie.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @movie.video_url %>
</p>

<div style="margin-left:-75px;">
  <%= @movie.vimeo[:html].html_safe %>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
