<div id="s2_back" class="aula">
	<div id="s2_back-cont">
		<div id="s2_back-cont-tit">Aula virtual</div>
		<div id="s2_back-cont-txt">Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
	</div>
</div>
<div id="s3_des">
	<div id="s3_des-btnSup">
		<ul>
			<li><a href="<%= classroom_videos_path %>" class="activo">VIDEOS</a></li>
			<li><a href="<%= classroom_notes_path %>">APUNTES</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="s3_des-bTit">Huerta</div>
	<div class="s3_des-fchro aula">
		<% @movies.each do |movie| %>
			<div class="s3_des-fchro-fch">
				<a href="<%= classroom_video_path(movie) %>" class="s3_des-fchro-fch-pic bg-cover" style="background-image:url(<%= movie.image.url(:small) %>)"></a>
				<div class="s3_des-fchro-fch-cont">
					<div class="s3_des-fchro-fch-cont-tit"><%= movie.title %></div>
					<div class="s3_des-fchro-fch-cont-txt"><%= movie.description %></div>
					<div class="s3_des-fchro-fch-cont-dat">Nivel: <%= t ('movie.level.' + movie.level) %>  -  Valor <%= movie.price.to_s(:currency, unit: '$', separator: ",", delimiter: ".") %></div>
					<div class="s3_des-fchro-fch-cont-btn">
						<ul>
							<li><a href="<%= classroom_video_path(movie) %>" class="btn_m">REPRODUCIR</a></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<button disabled="disabled" class="btn_full">&nbsp;</button>
	<!--button onclick="console.log('Mostrar Mas')" class="btn_full">Mostrar Más</button!-->
</div>