<% content_for :extra_js do %>
	$('form.edit_movie').validate();
<% end %>

<div id="s2_back" class="aula">
	<div id="s2_back-cont">
		<div id="s2_back-cont-tit">Aula virtual</div>
		<div id="s2_back-cont-txt">Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
	</div>
</div>
<div id="s3_des">
	<div id="s3_des-btnSup">
		<ul>
			<li><a href="<%= classroom_videos_path %>" class="activo">VIDEOS</a></li>
			<li><a href="<%= classroom_notes_path %>" >APUNTES</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="s3_des-vid">
		<div class="s3_des-vid-vFr">
			<!--<iframe width="100%" src="https://www.youtube.com/embed/roKb1kxrBwo?rel=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>-->
			<iframe width="100%" src="<%= @movie.video_url %>?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="s3_des-vid-col1">
			<div class="s3_des-vid-col1-datV">
				<h1><%= @movie.title %></h1>
				<p><%= @movie.description %></p>
			</div>
			<div class="s3_des-msg">
				<div class="s3_des-msg-tit">Mensajes:</div>
				<div class="s3_des-msg-mInc">
					<div class="s3_des-msg-mInc-pic"><img src="<%= current_user.avatar.url(:thumb) %>" /></div>
					<div class="s3_des-msg-mInc-form">
						<%= form_for @movie do |f| %>
							<textarea type="text" name="movie[comment]" id="mInc_txt" placeholder="Escribe tu consulta aquí..." onfocus="exp_mInc()" onblur="cont_mInc()" required="required" minlength="8" maxlength="540"></textarea>
							<button type="submit">✓</button>
						<% end %>
					</div>
					<div class="clear"></div>
				</div>
				<div class="s3_des-msg-mLst">
					<ul>
						<li>
							<div class="s3_des-msg-mLst-mPic"><img src="<%= asset_path 'profile/profilePic-2.jpg' %>" /></div>
							<div class="s3_des-msg-mLst-mtxt">
								<div class="s3_des-msg-mLst-mtxt-nom">Jessica Briscenio</div>
								<div class="s3_des-msg-mLst-mtxt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>	
							</div>
						</li>
						<li>
							<div class="s3_des-msg-mLst-mPic"><img src="<%= asset_path 'profile/profilePic-3.jpg' %>" /></div>
							<div class="s3_des-msg-mLst-mtxt">
								<div class="s3_des-msg-mLst-mtxt-nom">Laura Prado</div>
								<div class="s3_des-msg-mLst-mtxt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>	
							</div>
						</li>
						<li>
							<div class="s3_des-msg-mLst-mPic"><img src="<%= asset_path 'profile/profilePic-4.jpg' %>" /></div>
							<div class="s3_des-msg-mLst-mtxt">
								<div class="s3_des-msg-mLst-mtxt-nom">Gabriela Lopez</div>
								<div class="s3_des-msg-mLst-mtxt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>	
							</div>
							<ul>
								<li>
									<div class="s3_des-msg-mLst-mPic"><img src="<%= asset_path 'profile/profilePic-8.jpg' %>" /></div>
									<div class="s3_des-msg-mLst-mtxt">
										<div class="s3_des-msg-mLst-mtxt-nom">Clara Billoch</div>
										<div class="s3_des-msg-mLst-mtxt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>	
									</div>
								</li>
							</ul>
						</li>
						<li>
							<div class="s3_des-msg-mLst-mPic"><img src="<%= asset_path 'profile/profilePic-5.jpg' %>" /></div>
							<div class="s3_des-msg-mLst-mtxt">
								<div class="s3_des-msg-mLst-mtxt-nom">Valeria Romeo</div>
								<div class="s3_des-msg-mLst-mtxt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>	
							</div>
						</li>
						<li>
							<div class="s3_des-msg-mLst-mPic"><img src="<%= asset_path 'profile/profilePic-6.jpg' %>" /></div>
							<div class="s3_des-msg-mLst-mtxt">
								<div class="s3_des-msg-mLst-mtxt-nom">Fernanda Piro</div>
								<div class="s3_des-msg-mLst-mtxt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>	
							</div>
						</li>
						<li>
							<div class="s3_des-msg-mLst-mPic"><img src="<%= asset_path 'profile/profilePic-7.jpg' %>" /></div>
							<div class="s3_des-msg-mLst-mtxt">
								<div class="s3_des-msg-mLst-mtxt-nom">Daniela Lonero</div>
								<div class="s3_des-msg-mLst-mtxt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>	
							</div>
						</li>
					</ul>
					<button class="btn_full">MOSTRAR MÁS</button>
				</div>
			</div>
		</div>
		<div class="s3_des-vid-col2">
			<div class="s3_des-vid-col2-tit">Mas videos</div>
			<% @movies.each do |movie| %>
				<div class="s3_des-vid-col2-fch">
					<div class="s3_des-vid-col2-fch-pic"><img src="<%= movie.image.url(:thumb) %>" /></div>
					<div class="s3_des-vid-col2-fch-dat">
						<div class="s3_des-vid-col2-fch-dat-tit"><%= movie.title %></div>
						<div class="s3_des-vid-col2-fch-dat-txt"><%= movie.description[0..29] %>…</div>
						<div class="s3_des-vid-col2-fch-dat-inf">
							<% if true %>
								Comprado
							<% else %>
								Desde <%= movie.price.to_s(:currency, unit: '$', separator: ',', delimiter: '.') %>
							<% end %>
						</div>
						<div class="s3_des-vid-col2-fch-dat-btn">
							<ul>
								<li>
									<% if true %>
										<a class="btn_c-gr" href="<%= classroom_video_path(movie) %>">Reproducir</a>
									<% else %>
										<a class="btn_c" href="#">Comprar</a>
									<% end %>
								</li>
							</ul>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			<% end %>
			<button class="btn_full">MOSTRAR MÁS</button>
		</div>
		<div class="clear"></div>
	</div>
</div>