<% content_for :extra_js do %>
	$('form#new_movie_comment').validate();
	Utils.cont_mInc_fix($('form#new_movie_comment'));
<% end %>

<div id="s2_back" class="aula">
	<div id="s2_back-cont">
		<div id="s2_back-cont-tit">Aula virtual</div>
		<div id="s2_back-cont-txt">Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
	</div>
</div>
<div id="s3_des">
	<div id="s3_des-btnSup">
		<ul>
			<li><a href="<%= classroom_videos_path %>" class="activo">VIDEOS</a></li>
			<li><a href="<%= classroom_notes_path %>" >APUNTES</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="s3_des-vid">
		<% if @movie.workshop.valid_for?(current_user) %>
			<div class="s3_des-vid-vFr">
				<%= @movie.vimeo[:html].html_safe %>
			</div>
		<% else %>
			<div class="s3_des-vid-vFr bg-cover" style="background-image:url(<%= @movie.image.url(:medium) %>)">
				<h3 class="s3_des-vid-vFr-txt">
					Han pasado los 30 días desde que compraste el Taller online y el video ya no está disponible<br>
					Podés seguir usando la sección de comentarios.
				</h3>
			</div>
		<% end %>
		<div class="s3_des-vid-col1">
			<div class="s3_des-vid-col1-datV">
				<h1><%= @movie.title %></h1>
				<p><%= @movie.description %></p>
			</div>
			<div class="s3_des-msg">
				<div class="s3_des-msg-tit">Mensajes:</div>
				<div class="s3_des-msg-mInc">
					<div class="s3_des-msg-mInc-pic"><%= image_tag current_user.avatar.url(:thumb) %></div>
					<div class="s3_des-msg-mInc-form">
						<%= form_for Comment.new(commentable: @movie), remote: true, html: { id: :new_movie_comment }, data: { util: :loader } do |f| %>
							<%= f.hidden_field :commentable_id %>
							<%= f.hidden_field :commentable_type %>
							<%= f.hidden_field :user_id, value: current_user.id %>
							<%= f.text_area :text, type: 'text', placeholder: 'Escribe tu consulta aquí…', onfocus: 'exp_mInc()', required: true, maxlength: 540 %>
							<%= f.submit '✓' %>
						<% end %>
					</div>
					<div class="clear"></div>
				</div>
				<div class="s3_des-msg-mLst">
					<ul id="comments">
						<%= render @comments %>
					</ul>
					<%= link_to 'MOSTRAR MÁS', comments_path(page: 2, f: commentable(@movie)), id: 'moreComments', remote: true, class: 'btn-full ' + ('hidden' if @comments.total_pages == @comments.current_page).to_s, data: { util: :loader } %>
				</div>
			</div>
		</div>
		<div class="s3_des-vid-col2">
			<div class="s3_des-vid-col2-tit">Mas videos</div>
			<% @other_movies.each do |movie| %>
				<div class="s3_des-vid-col2-fch">
					<a href="<%= classroom_video_path(movie) %>" class="s3_des-vid-col2-fch-pic bg-cover" style="background-image:url(<%= movie.image.url(:thumb) %>)"></a>
					<div class="s3_des-vid-col2-fch-dat">
						<div class="s3_des-vid-col2-fch-dat-tit"><%= movie.title %></div>
						<div class="s3_des-vid-col2-fch-dat-txt"><%= movie.description[0..29] %>…</div>
						<div class="s3_des-vid-col2-fch-dat-inf">
							<% if true %>
								Comprado
							<% else %>
								Desde <%= movie.price.to_s(:currency, unit: '$', separator: ',', delimiter: '.') %>
							<% end %>
						</div>
						<div class="s3_des-vid-col2-fch-dat-btn">
							<ul>
								<li>
									<% if true %>
										<a class="btn_c-gr" href="<%= classroom_video_path(movie) %>">Reproducir</a>
									<% else %>
										<a class="btn_c" href="#">Comprar</a>
									<% end %>
								</li>
							</ul>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			<% end %>
			<!--button class="btn_full">MOSTRAR MÁS</button-->
		</div>
		<div class="clear"></div>
	</div>
</div>