<% content_for :extra_js do %>
  $('.simple-search-form button').click(function(e) {
    e.preventDefault();
    $('#search').val(null);
    $(this).closest('form').submit();
  });
<% end %>

<h1>Usuarios</h1>

<%= form_tag users_path, method: :get, class: 'simple-search-form' do %>
  <%= text_field_tag :search, params[:search] || nil, class: 'form-control', placeholder: 'Buscar por nombre o email' %>
  <%= submit_tag 'Buscar', class: 'button-blue' %>
  <%= button_tag 'Reset', type: 'button', class: 'button-orange' %>
<% end %>

<table class="table table-bordered table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <% if current_user.is_webmaster? %>
        <th>Role</th>
      <% end %>
      <th colspan="3">Control</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if current_user.is_webmaster? %>
          <td><%= user.role %></td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @users, outer_window: 0, inner_window: 1 %>