<div class="s0_popUp">
	<div class="s0_popUp-boxPic">
		<div class="s0_popUp-boxPic-btnCer" onclick="cerrarMscPic();"></div>
		<div class="s0_popUp-boxPic-pic"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-1.jpg' %>" /></div>
		<div class="s0_popUp-boxPic-epi">Rosa 'Albertine', Rosa 'Constance Spry', Rosa 'Pierre de Ronsard', Rosa Gertrude Jeckyll, Rosa 'Anne Harkness'</div>	
	</div>
</div>
<div id="s2_back" class="ramos"></div>
<div id="s3_des">
	<div class="s3_des-txtFull">
		<h1>Ramos de flores</h1>
		<p>Con las flores que crecen en su jardín, Clara arma ramos de flores frescas desde la primavera hasta el otoño. Aunque las rosas son las protagonistas y las más buscadas, por su exquisito perfume, en la primavera florecen una gran cantidad de plantas de estación y perennes con las que hacemos ramos silvestres muy coloridos.</p>
		<p>Las flores se cortan especialmente de acuerdo a cada pedido y son entregadas a domicilio.</p>
		<p>contacto: XXX@XXXX.com</p>
		<div class="s3_des-txtFull-mscPics">
			<div class="s3_des-txtFull-mscPics-pic"><a href="javascript: dameMscPic(1)"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-thumb_1.jpg' %>" /></a></div>
			<div class="s3_des-txtFull-mscPics-pic"><a href="javascript: dameMscPic(2)"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-thumb_2.jpg' %>" /></a></div>
			<div class="s3_des-txtFull-mscPics-pic ultimoRD"><a href="javascript: dameMscPic(3)"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-thumb_3.jpg' %>" /></a></div>
			<div class="s3_des-txtFull-mscPics-pic ultimo"><a href="javascript: dameMscPic(4)"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-thumb_4.jpg' %>" /></a></div>
			<div class="s3_des-txtFull-mscPics-pic"><a href="javascript: dameMscPic(5)"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-thumb_5.jpg' %>" /></a></div>
			<div class="s3_des-txtFull-mscPics-pic ultimoRD"><a href="javascript: dameMscPic(6)"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-thumb_6.jpg' %>" /></a></div>
			<div class="s3_des-txtFull-mscPics-pic"><a href="javascript: dameMscPic(7)"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-thumb_7.jpg' %>" /></a></div>
			<div class="s3_des-txtFull-mscPics-pic ultimo"><a href="javascript: dameMscPic(8)"><img src="<%= asset_path 'pags/ramos/ramos-mscPic-thumb_8.jpg' %>" /></a></div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="s3_des-nwsl">
		<div id="s3_des-nwsl-icn"><img src="<%= asset_path 'nwsltr/btnNwsltr.png' %>" /></div>
		<div id="s3_des-nwsl-tit">
			<div id="s3_des-nwsl-tit-cont">
				<h1>Newsletter</h1>
				<p>Suscribirte para recibir las últimas novedades sobre cursos y publicaciones.</p>	
			</div>
		</div>
		<div id="s3_des-nwsl-form">
			<form action="includes/nwsltr_prc.php" method="post">
				<div id="s3_des-nwsl-form-mail">
					<input type="text" placeholder="Tu Email aquí" />
				</div>
				<div id="s3_des-nwsl-form-btn">
					<input type="submit" value="ENVIAR" />
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>