<% content_for :extra_js do %>
	$('.pst_postal-tit').marquesine();
<% end %>

<%= render 'partials/slider' %>
<div id="s3_des">
	<div class="s3_des-colCGG">
		<div class="s3_des-colC pst_promo">
			<div class="pst_promo-ins">
				<div class="pst_promo-ins-tit"><h1>Talleres Disponibles</h1></div>
				<div class="pst_promo-ins-des">
					<ul>
						<% @workshops.each do |workshop| %>
							<li><%= workshop.title %></li>
						<% end %>
					</ul>
					<a href="<%= workshops_page_path %>" class="pst_promo-ins-btn">VER TALLERES</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="s3_des-colG pst_postal">
			<div class="pst_postal-pic"><img src="<%= asset_path 'postales/postal01_talleresOnline.jpg' %>" /></div>
			<div class="pst_postal-tit">Tienda Online</div>
			<div class="pst_postal-desc pst_postal-desc-2-lines">Ya podés comprar semillas, herramientas y los libros de Clara en su tienda online.</div>
			<a href="https://clarabilloch.mitiendanube.com" target="_blank" class="pst_postal-btn">IR A LA TIENDA</a>
		</div>
		<div class="s3_des-colG pst_postal ultimo ultimoRD">
			<div class="pst_postal-pic"><img src="<%= asset_path 'postales/taller-rosas.jpg' %>" /></div>
			<div class="pst_postal-tit">Taller online: Rosas</div>
			<div class="pst_postal-desc">Guía para sembrar y mantener rosas en tu jardín.</div>
			<a href="<%= workshops_page_path %>" class="pst_postal-btn">COMPRAR</a>
		</div>
		<div class="clear"></div>
	</div>
	<%= render 'partials/newsletter_form' %>
	<div class="s3_des-colGGC">
		<div class="s3_des-colG pst_postal">
			<div class="pst_postal-pic"><img src="<%= asset_path 'postales/postal03_presenciales.jpg' %>" /></div>
			<div class="pst_postal-tit">Talleres Presenciales</div>
			<div class="pst_postal-desc">Enterate sobre los talleres que da Clara en su jardín.</div>
			<a href="<%= face_workshops_page_path %>" class="pst_postal-btn">LEER MÁS</a>
		</div>
		<div class="s3_des-colG pst_postal ultimoRD">
			<div class="pst_postal-pic"><img src="<%= asset_path 'postales/postal04_rosas.jpg' %>" /></div>
			<div class="pst_postal-tit">Ramos de Rosas</div>
			<div class="pst_postal-desc">Encargá tus ramos de rosas y otras flores frescas.</div>
			<a href="<%= bouquets_page_path %>" class="pst_postal-btn">LEER MÁS</a>
		</div>
		<div class="s3_des-colC ultimo">
			<div class="s3_des-colC-2vH">
				<div class="s3_des-colC-2vH-vh" id="btnBlog">
					<div id="btnBlog-pic"><img src="<%= asset_path 'btnBlog.jpg' %>" /></div>
					<div id="btnBlog-tit">eneljardin.com</div>
					<a href="http://www.eneljardin.com/" target="_blank" id="btnBlog-btn">IR AL BLOG</a>
				</div>
				<div class="s3_des-colC-2vH-vh ultimo ultimoRD" id="btnCntc">
					<div id="btnCntc-pic"><img src="<%= asset_path 'btnCntc.jpg' %>" /></div>
					<a href="<%= contact_page_path %>" id="btnCntc-btn">CONTACTO</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="s3_des-bnrFull">
		<div class="s3_des-bnrFull-pic"><img src="<%= asset_path 'bannerPublicaciones.jpg' %>" /></div>
		<div class="s3_des-bnrFull-txt">
			<div class="s3_des-bnrFull-txt-cont">
				<h1>Publicaciones</h1>
				<p>Clara quiere con sus libros ayudar a que todos aprovechemos y disfrutemos al máximo nuestro jardín. Entra acá para ver mas información y/o comprarlos.</p>
			</div>
		</div>
		<div class="s3_des-bnrFull-btnBox">
			<a href="https://clarabilloch.mitiendanube.com/libros" target="_blank" class="s3_des-bnrFull-btnBox-btn">VER LIBROS</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
