<div id="s2_back" class="talleres">
	<div id="s2_back-cont">
		<div id="s2_back-cont-tit">talleres online</div>
		<div id="s2_back-cont-txt">Ahora podés acceder a los talleres de Clara desde tu jardín. Con la compra de los talleres además pasas a formar parte de nuestra comunidad de alumnos virtuales donde podes intercambiar consejos y preguntas con otros alumnos en toda Latinoamérica.</div>
	</div>
</div>
<div id="s3_des">
	<div class="s3_des-fchro">
		<% @workshops.each do |workshop| %>
			<div class="s3_des-fchro-fch" id="<%= 'workshop_' + workshop.id.to_s %>">
				<div class="s3_des-fchro-fch-pic"><img src="<%= asset_path workshop.image.url(:small) %>"></img></div>
				<div class="s3_des-fchro-fch-cont">
					<div class="s3_des-fchro-fch-cont-tit"><%= workshop.title %></div>
					<div class="s3_des-fchro-fch-cont-txt"><%= workshop.description %></div>
					<div class="s3_des-fchro-fch-cont-dat">
						Nivel: <%= t('levels.' + workshop.level) %>
						-
						<% if workshop.is_owned_by? current_user %>
							<%= t("workshops.statuses.#{workshop.status_for_user(current_user)}").upcase %>
						<% else %>
							Valor <%= workshop.price.to_s(:currency, unit: '$', delimiter: '.', separator: ',') %>
						<% end %>
					</div>
					<div class="s3_des-fchro-fch-cont-pls">
						<p><%= workshop.information %></p>
					</div>
					<div class="s3_des-fchro-fch-cont-btn">
						<ul>
							<li><a href="javascript: damePlusFch('#<%= 'workshop_' + workshop.id.to_s %>')" class="btn_m s3_des-fchro-fch-cont-btn-info" id="<%= 'workshop_' + workshop.id.to_s + '_btn' %>">MÁS INFO</a></li>
							<li>
								<%= workshop_buy_button(workshop) %>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<% if false %>
		<div class="s3_des-enc">
			<div class="s3_des-enc-tit">¿Cuál te gustaría que sea el próximo taller online?</div>
			<form method="post" action="includes/enc_prc.php" id="encTaller">
				<div class="s3_des-enc-opt">
					<label for="rosas"><input type="radio" name="taller" value="rosas" id="rosas"/> Rosas</label>
					<label for="canteros"><input type="radio" name="taller" value="canteros" id="canteros" /> Canteros de flores y ramos</label>
					<label for="huertas"><input type="radio" name="taller" value="huertas" id="huertas" /> Huertas para balcones</label>
					<label for="frutales"><input type="radio" name="taller" value="frutales" id="frutales" /> Frutales</label>
				</div>
				<div class="s3_des-enc-btn">
					<ul>
						<li><a href="#" onclick="$('#encTaller').submit()" class="btn_m-bl">VOTAR</a></li>
						<li><a href="#" class="btn_m-gr">VER RESULTADOS</a></li>
						<div class="clear"></div>
					</ul>
				</div>
			</form>
		</div>
	<% end %>
	<div class="s3_des-txtFull">
		<h1>¿cómo funciona?</h1>
		<p>Es muy sencillo seguí este paso a paso:</p>
		<p>1ro) Registrate o ingresá con tu usuario y contraseña.<br>
		2do) Comprá el curso que quieras.<br>
		3ro) Ingresá al aula virtual para ver los videos del curso que compraste + los apuntes + la sección de preguntas y respuestas.</p>
		<p>Los videos los podes ver cuantas veces quieras por un lapso de 30 días. Los apuntes tienen descargas ilimitadas y sin limite de tiempo. El area de preguntas y respuestas tampoco tiene restricciones temporales.</p>
		<p><b>ATENCIÓN:</b></p>
		<p>Una vez acreditado el pago los videos estarán disponibles para que los veas cuantas veces quieras, pero solo por un lapso de 30 días (30 días después de efectuada la compra). Terminado ese periodo los videos no estarán disponibles. Los apuntes y el acceso al aula virtual junto a la sección de preguntas y respuestas es ilimitada, es decir que incluso pasado el periodo de 30 dias podrás tener acceso a ellas.</p>
		Preguntas y consultas escribir a <a href="mailto:info@eneljardin.com.ar">info@eneljardin.com.ar</a>
		o en el <%= link_to 'formulario de contacto', contact_page_path %>
	</div>
	<%= render 'partials/newsletter_form' %>
</div>