<% if @payment.approved? %>
  <h1>SE COMPLETÓ TU PAGO</h1>
<% elsif @payment.in_process? %>
  <h1>TU PAGO ESTÁ SIENDO PROCESADO</h1>
<% elsif @payment.collection_status.nil? %>
  <h1>EL PROCESO DE PAGO NO SE COMPLETÓ</h1>
<% else %>
  <h1>EL PAGO FUE RECHAZADO</h1>
<% end %>

<% if @payment.approved? %>
  <p>
    ¡Gracias <%= @payment.user.first_name %> por comprar el taller de Clara!
  </p>

  <%= link_to classroom_video_path(@payment.workshop.movies.first), class: 'conceal-link' do %>
    <h3 style="margin-bottom:0;"><%= @payment.workshop.title %></h3>
    <div class="bg-cover" style="height:150px;background-image:url(<%= @payment.workshop.image.url(:medium) %>)"></div>
  <% end %>
<% end %>

<p>
  <big>
    <% if @payment.collection_status.present? %>
      <strong><%= t 'mercadopago.statuses.' + @payment.collection_status rescue nil %>:</strong>
    <% else %>
      <strong>MONTO:</strong>
    <% end %>
    <%= @payment.transaction_amount.to_s(:currency, unit: '$', separator: '.', delimiter: ',') %>
  </big>
</p>

<p>
  <%= t 'mercadopago.status_messages.' + @payment.collection_status rescue nil %>
</p>

<% if @payment.approved? %>
  <p>
    <small><strong>ATENCIÓN</strong><br>
    Los videos estarán disponibles para que los veas cuantas veces quieras, pero solo por un lapso de 30 días. Terminado ese periodo los videos no estarán disponibles. Los apuntes y el acceso al aula virtual junto a la sección de preguntas y respuestas es ilimitada, es decir que incluso pasado el periodo de 30 dias podrás tener acceso a ellas.</small>
  </p>
<% end %>

<% if @payment.approved? %>
  <%= link_to '¡Empezar el taller!', classroom_video_path(@payment.workshop.movies.first), class: 'button' %>
  <br>
<% end %>
<%# link_to 'Edit', edit_payment_path(@payment) %>
<%= link_to 'Ver mis pagos', payments_path %>