<% content_for :extra_js do %>
	$('#new_user').validate();
<% end %>

<div class="devise">
	<h2>¿Olvidaste tu contraseña?</h2>
	<h5>Ingresá tu email, y te enviaremos instrucciones para reestablecer tu contraseña</h5>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, required: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Restablecer" %>
	  </div>
	<% end %>

	<%= render "users/shared/links" %>
</div>