<div id="s4_bb" style="<%= 'padding-top:40px' if action_name.to_sym == :notes %>">
	<div id="s4_bb-cont">
		<div id="s4_bb-cont-logo"><img src="<%= asset_path 'logoBB.jpg' %>" /></div>
		<div class="s4_bb-cont-colMenu">
			<ul>
				<li><a href="<%= root_path %>"><strong>HOME</strong></a></li>
				<li><a href="<%= welcome_page_path %>">CLARA BILLOCH</a></li>
				<li><a href="<%= workshops_page_path %>">TALLERES ONLINE</a></li>
				<li><a href="<%= bouquets_page_path %>">RAMOS</a></li>
				<li><a href="<%= face_workshops_page_path %>">TALLERES PRESENCIALES</a></li>
				<li><a href="<%= publications_page_path %>">PUBLICACIONES</a></li>
				<li><a href="<%= contact_page_path %>">CONTACTO</a></li>
			</ul>
		</div>
		<div class="s4_bb-cont-colMenu footer-menu" id="s4_bb-cont-colMenu_CNTC">
			<div class="s4_bb-cont-colMenu-titCntc">CONTACTO</div>
			<div class="s4_bb-cont-colMenu-itemCntc">
				<div class="s4_bb-cont-colMenu-itemCntc-pic"><img src="<%= asset_path 'bbTel.jpg' %>" /></div>
				<div class="s4_bb-cont-colMenu-itemCntc-txt">
					<h1>TELÉFONO</h1>
					<p><a href="tel:+5491162504129">+54 911 6250 4129</a></p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="s4_bb-cont-colMenu-itemCntc">
				<div class="s4_bb-cont-colMenu-itemCntc-pic"><img src="<%= asset_path 'bbMail.jpg' %>" /></div>
				<div class="s4_bb-cont-colMenu-itemCntc-txt">
					<h1>EMAIL</h1>
					<p><a href="mailto:info@clarabilloch.com.ar">info@clarabilloch.com.ar</a></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="s4_bb-cont-colMenu">
			<ul>
				<li><strong>BLOG</strong></li>
				<li><a href="http://www.eneljardin.com/" target="_blank">ENELJARDIN.COM</a></li>
			</ul>
		</div>
		<div class="s4_bb-cont-colRs">
			<a href="https://www.facebook.com/clarabillocheneljardin/?fref=ts" target="_blank"><img src="<%= asset_path 'bbIcnRs-FB.jpg' %>" /></a>
			<a href="http://www.eneljardin.com/" target="_blank"><img src="<%= asset_path 'bbIcnRs-IG.jpg' %>" /></a>
			<a href="http://www.eneljardin.com/" target="_blank"><img src="<%= asset_path 'bbIcnRs-Gp.jpg' %>" /></a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="s5_fir">2016 - Clara Billoch. Todos los derechos reservados. <span style="display: inline-block;">Powered by <a href="http://vertigodesign.com.ar/" target="_blank" title="vertigo design co."><img id="s5_fir-lVrt" src="<%= asset_path 'logo-vertigo.png' %>" /></a></span></div>